@keyframes RotatingIcons {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.NavBar_Component{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 5vh;
    top: 1%;
}

.LeftSide_Stuff{
    display: flex;
    width: 70vw;
    gap: 15%;
    margin-left: 1%;
}

.LeftSide_Stuff a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD0C7;
    font-size: 2rem;
    caret-color: transparent;
    text-decoration: none;
}

.NavBar_Component a:hover{
    color: red;
    cursor: pointer;
}

.RightSide_Stuff {
    display: flex;
    flex-direction: row-reverse;
    width: 30vw;
    margin-right: 1%;
}

.RightSide_Stuff a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.Icons {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    cursor: pointer;
    animation-name: RotatingIcons;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Styling for Dialog */
[role="dialog"] {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .DialogPanel {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 100;
    caret-color: transparent;
  }